<div class="paywall-container">
  <div class="opacity"></div>

  <div class="paywall-close">
    <a class="x" href="/"><h1 class="x-icon">X</h1></a>
  </div>

  <div class="paywall">
    <h5 class="sub-head">Thanks for visiting.</h5>
    <p class="sub-p">
      insightsoftware is the comapny I want to contribute to and learn from.
    </p>
    <p class="sub-p">Let's grow together.</p>
    <a href="https://calendly.com/jongalloway/15?month=2024-02" target="_blank"
      ><button class="cta green-btn interview">Schedule an Interview</button></a
    >
    <p></p>
  </div>
</div>
