<%- include("partials/header"); -%>
<!------------ HERO SECTION ------------>
<div class="site">

<section id="hero">
  <div class="container">
    <div class="hero-title">
      <h1>Shrink Planning, Reporting, & Close Cycles by 50%</h1>
    </div>

    <div class="focus-content">
      <div class="left-hero-btns service-btns">

        <form class="srvc-form" action="/budgeting-planning" method="get">
        <button id="budgeting" class="services budgeting" name="budgeting">
          Budgeting & Planning
        </button>
      </form>
        <hr />
        <form class="srvc-form" action="/close-and-consolidation" method="get">
        <button id="close" class="services close">Close & Consolidation</button>
      </form>
        <hr />
        <form class="srvc-form" action="/automation-and-data-management" method="get">
        <button id="automation" class="services automation">
        </form>
          Automation & Data Management
        </button>
        <hr />
        <form class="srvc-form" action="/accounting-and-treasury" method="get">
        <button id="accounting" class="services accounting">
        </form>
          Accounting & Treasury
        </button>
      </div>

      <div class="computer">
        <img
          class="comp"
          src="images/main-computer.webp"
          alt="insightsoftware computer"
        />
      </div>

      <div class="right-hero-btns service-btns">
        <form class="srvc-form" action="/financial-reporting" method="get">
        <button id="financial" class="services financial">
        </form>
          Financial Reporting
        </button>
        <hr />
        <form class="srvc-form" action="/embedded-analytics" method="get">
        <button id="embedded" class="services embedded">
        </form>
          Embedded Analytics
        </button>
        <hr />
        <form class="srvc-form" action="/tax-and-compliance" method="get">
        <button id="tax" class="services tax">Tax & Compliance</button>
      </form>
        <hr />
        <form class="srvc-form" action="/operations-reporting-and-analytics" method="get">
        <button id="operational" class="services operational">
          Operational Reportings & Analytics
        </button>
      </form>
      </div>
    </div>

    <div class="cta-btns">
      <form class="cta-form" action="/demo" method="get">
        <button class="green-btn cta">GET INSTANT DEMO</button>
      </form>
      <form class="cta-form" action="/pricing" method="get">
        <button class="blue-btn cta">GET PRICING & PROMOS</button>
      </form>
    </div>

    <div class="ratings">
      <img class="rating" src="images/capterra.webp" alt="capterra-rating" />
      <img class="rating" src="images/getapp.webp" alt="get-app-rating" />
    </div>

    <h2 class="logo-headline">
      See for yourself why over 500K+ users are using insightsoftware
    </h2>

    <div class="user-logos">
      <img class="logo" src="images/otis.webp" alt="otis-logo" />
      <img class="logo" src="images/carrier.webp" alt="carrier-logo" />
      <img class="logo" src="images/edwards.webp" alt="edwards-logo" />
      <img
        class="logo starbucks"
        src="images/starbucks.webp"
        alt="starbucks-logo"
      />
      <img class="logo" src="images/rockwell.webp" alt="rockwell-logo" />
      <img class="logo" src="images/sobeys.webp" alt="sobeys-logo" />
    </div>
  </div>
</section>

<!------------ SOLUTIONS SECTION ------------>
<section id="solutions">
  <div class="image-slider">
    <div class="navigation-manual">
      <label id="slide-financial" class="manual-nav"
        >Financial<br />Reporting</label
      >
      <label id="slide-embedded" class="manual-nav"
        >Embedded<br />Analytics</label
      >
      <label id="slide-analysis" class="manual-nav"
        >Financial Planning<br />& Analysis</label
      >
      <label id="slide-budgeting" class="manual-nav"
        >Budgeting<br />& Planning</label
      >
      <label id="slide-tax" class="manual-nav">Tax<br />Provisioning</label>
      <label id="slide-close" class="manual-nav"
        >Consolidation<br />& Close</label
      >
    </div>

    <div class="slides">
      <div class="slide on slide-financial">
        <div class="solutions-left">
          <h2 class="slide-heading">
            Connect ERPs Directly to Excel.<br />Real-Time Data. No IT Needed.
          </h2>
          <ul>
            <li class="slide-bullet">
              <strong>Export Data to Excel - </strong>Easily export real-time
              data from your ERP into Excel. No manual downloads or CSVs.
            </li>

            <li class="slide-bullet">
              <strong>Self-Serve Custom Reports - </strong>Create reports with a
              drag-and-drop interface. Save reports as templates.
            </li>

            <li class="slide-bullet">
              <strong>Combine Sources - </strong>Combine data from all common
              systems. Includes GL and non-GL-data.
            </li>
          </ul>
          <form class="srvc-form" action="/financial-reporting" method="get">
          <button class="green-btn cta">Learn More</button>
        </form>
        </div>
        <div class="solutions-right">
          <img
            class="slide-img"
            src="images/financial-slide.webp"
            alt="financial reporting slide"
          />
        </div>
      </div>

      <div class="slide off slide-embedded">
        <div class="solutions-left">
          <h2 class="slide-heading">
            Dashboards that transform<br />data into actionable insights.
          </h2>
          <ul>
            <li class="slide-bullet">
              <strong>Customizable - </strong>Create custom reports embedded in
              your application. Allow users drilling into data with a few
              clicks.
            </li>

            <li class="slide-bullet">
              <strong>Pixel Perfect - </strong>Make interactive reports your
              stakeholders want to use. Integrates seamlessly without clunky
              iFrames.
            </li>

            <li class="slide-bullet">
              <strong>No Code - </strong>Build and customize dashboards with a
              simple online interface. No developers required.
            </li>
          </ul>
          <form class="srvc-form" action="/embedded-analytics" method="get">
          <button class="green-btn cta">Learn More</button>
        </form>
        </div>
        <div class="solutions-right">
          <img
            class="slide-img"
            src="images/embedded-slide.webp"
            alt="financial reporting slide"
          />
        </div>
      </div>

      <div class="slide off slide-analysis">
        <div class="solutions-left">
          <h2 class="slide-heading">
            Shorten planning cycles 50%<br />by automating FP&A.
          </h2>
          <ul>
            <li class="slide-bullet">
              <strong>Live Data - </strong>Access live data from your ERP in
              your dashboard or Excel. Track revenue, cash flow, and more.
            </li>

            <li class="slide-bullet">
              <strong>Instant Analysis - </strong>Create accurate budgets and
              forecasts in minutes. Sales forecasts, workforce planning,
              budgeting.
            </li>

            <li class="slide-bullet">
              <strong>Single Source of Truth - </strong>Get one platform for all
              your planning data. Access on any device. Updated in real-time.
            </li>
          </ul>
          <form class="srvc-form" action="/financial-planning-analysis" method="get">
          <button class="green-btn cta">Learn More</button>
        </form>
        </div>
        <div class="solutions-right">
          <img
            class="slide-img"
            src="images/analysis-slide.webp"
            alt="financial reporting slide"
          />
        </div>
      </div>

      <div class="slide off slide-budgeting">
        <div class="solutions-left">
          <h2 class="slide-heading">
            Shorten planning cycles and<br />support continuous planning.
          </h2>
          <ul>
            <li class="slide-bullet">
              <strong>Streamlined Processes - </strong>Plan frequently and
              accurately by eliminating manual, spreadsheet-based processes.
            </li>

            <li class="slide-bullet">
              <strong>Enhanced Decision-making - </strong>Implement rolling
              forecasts and scenario planning for better-informed decisions.
            </li>

            <li class="slide-bullet">
              <strong>Extended Planning - </strong>Empower frontline workers to
              participate in the planning process to increase accuracy.
            </li>
          </ul>
          <form class="srvc-form" action="/budgeting-planning" method="get">
          <button class="green-btn cta">Learn More</button>
        </form>
        </div>
        <div class="solutions-right">
          <img
            class="slide-img"
            src="images/budgeting-slide.webp"
            alt="financial reporting slide"
          />
        </div>
      </div>

      <div class="slide off slide-tax">
        <div class="solutions-left">
          <h2 class="slide-heading">
            Collect and analyze tax data<br />to drive strategic decisions.
          </h2>
          <ul>
            <li class="slide-bullet">
              <strong>Automate Data Collection - </strong>Put real-time data at
              your fingertips to support analysis and strategic tax planning.
            </li>

            <li class="slide-bullet">
              <strong>Forecasting & Scenarios Analysis - </strong>Forecast ETR
              and the impact of strategic or regulatory changes.
            </li>

            <li class="slide-bullet">
              <strong>Global Tax Planning - </strong>Understand tax implications
              across your global footprint. Manage BEPS Pillar Two elections
            </li>
          </ul>
          <form class="srvc-form" action="/longview-tax" method="get">
          <button class="green-btn cta">Learn More</button>
        </form>
        </div>
        <div class="solutions-right">
          <img
            class="slide-img"
            src="images/tax-slide.webp"
            alt="financial reporting slide"
          />
        </div>
      </div>

      <div class="slide off slide-close">
        <div class="solutions-left">
          <h2 class="slide-heading">
            Fast and accurate close and<br />consolidation.
          </h2>
          <ul>
            <li class="slide-bullet">
              <strong>Automated Consolidation - </strong>Accelerate the close
              process by automating all the manual data colleciton.
            </li>

            <li class="slide-bullet">
              <strong>Complex Scenarios - </strong>Handle complex consolidation
              scenarios, multiple sources, currencies, and entities.
            </li>

            <li class="slide-bullet">
              <strong>Compliance - </strong>Pre-built safeguards meeting
              accounting standards including audit trails and access controls.
            </li>
          </ul>
          <form class="srvc-form" action="/close-and-consolidation" method="get">
          <button class="green-btn cta">Learn More</button>
        </form>
        </div>
        <div class="solutions-right">
          <img
            class="slide-img"
            src="images/close-slide.webp"
            alt="financial reporting slide"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!------------ INTEGRATIONS SECTION ------------>

<section id="integrations">
  <div class="integrate">
    <h3 class="integrate-h3">INTEGRATIONS</h3>
    <h2 class="integrate-heading">Connect to 140+ ERPs<br />and EPMs</h2>
    <select name="connect" class="select-box">
      <option value="Select-one">--Select One--</option>
      <option value="Deltek">Deltek</option>
      <option value="Epicor">Epicor</option>
      <option value="Infor">Infor</option>
      <option value="JD Edwards">JD Edwards</option>
      <option value="Microsoft">Microsoft</option>
      <option value="MRI Software">MRI Software</option>
      <option value="Netsuite">Netsuite</option>
      <option value="Oracle">Oracle</option>
      <option value="Other">Other</option>
      <option value="Sage">Sage</option>
      <option value="SAP">SAP</option>
      <option value="SYSPRO">SYSPRO</option>
      <option value="Viewpoint">Viewpoint</option>
    </select>
    <form action="/demo" method="get">
      <button class="green-btn cta int-btn">Get A Demo</button>
    </form>
  </div>
</section>

<!------------ TESTIMONIAL SECTION ------------>

<section id="testimonials">
  <h2 class="stories-heading">Customer Stories</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="quote-box">
          <div class="personal-info">
            <img
              src="images/Julie_Muller.webp"
              alt="Julie Muller"
              class="pic"
            />
            <div class="info-text">
              <h5 class="name">Julie Muller</h5>
              <p class="title">Finance Manager</p>
            </div>
          </div>
          <div class="quote">
            <h4>40% Less Time</h4>
            <p>
              "I'd say we need 30 to 40 percent less time to get our work done,
              all thanks to Jet. Fixed assets, for example, used to take half a
              day; now jet does that automatically. That's amazing."
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="quote-box">
          <div class="personal-info">
            <img src="images/Nick_Stuart.webp" alt="Nick Stuart" class="pic" />
            <div class="info-text">
              <h5 class="name">Nick Stuart</h5>
              <p class="title">Corporate Controller</p>
            </div>
          </div>
          <div class="quote">
            <h4>2 Days Saved Every Week</h4>
            <p>
              "The CFO and I can pull up the data and see where our cash is at
              any time. It's really been a life saver, especially during these
              uncertain times."
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="quote-box">
          <div class="personal-info">
            <img
              src="images/Brian_Meyers.webp"
              alt="Brian Meyers"
              class="pic"
            />
            <div class="info-text">
              <h5 class="name">Brian Meyers</h5>
              <p class="title">Controller</p>
            </div>
          </div>
          <div class="quote">
            <h4>70% Less Time</h4>
            <p>
              "It's not just the huge amount of time that is saved; it's also
              the sheer amount of information that's available at the click of a
              button."
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<section class="resources">
  <h2 class="stories-heading">Resources</h2>

  <div class="resource-container">
  
  <div class="resource">
    <img class="res-img" src="/images/resource-1.jpg" alt="resource 1">
    <p class="rsc-blue">Sample Report</p>
    <p class="rsc-heading">Manufacturing KPI Dashboard</p>
  </div>

  <div class="resource">
    <img class="res-img" src="/images/resource-2.jpg" alt="resource 2">
    <p class="rsc-yellow">White Paper</p>
    <p class="rsc-heading">Top 10 Best Practices for Financial Reporting in Excel</p>
  </div>
  <div class="resource">
    <img class="res-img" src="/images/resource-3.jpg" alt="resource 3">
    <p class="rsc-yellow">White Paper</p>
    <p class="rsc-heading">How to Build Useful KPI Dashboards</p>
  </div>

</div>

</section>

</div>


<%- include("partials/footer"); -%>
