<%- include("partials/header"); -%>

<section id="pricing">
  <div class="form-container">
    <div class="pricing-form">
      <img
        class="pricing-logo"
        src="/images/insight-logo.png"
        alt="insightsoftware logo"
      />
      <h2 class="demo-heading">Get Instant Pricing & Promos</h2>

      <input class="demo-input" type="email" placeholder="Business Email*" />

      <!-- First Dropdown -->
      <!-- <label class="dd-label" for="first-dropdown">Primary Financial System</label> -->

      <select class="demo-input" id="first-dropdown">
        <option value="selectOne">--Primary Financial System--</option>
        <option value="deltek">Deltek</option>
        <option value="epicor">Epicor</option>
        <option value="infor">Infor</option>
        <option value="jdedwards">JD Edwards</option>
        <option value="microsoft">MicorSoft</option>
        <option value="mrisoftware">MRI Software</option>
        <option value="netsuite">Netsuite</option>
        <option value="oracle">Oracle</option>
        <option value="other">Other</option>
        <option value="sage">Sage</option>
        <option value="sap">SAP</option>
        <option value="syspro">SYSPRO</option>
        <option value="viewpoint">Viewpoint</option>
      </select>

      <!-- Second Dropdown -->
      <!-- <label class="dd-label" for="second-dropdown">Financial System Version</label> -->
      <select class="demo-input" id="second-dropdown">
        <!-- Options will be added here based on the first dropdown selection -->
        <option value="">--Financial System Version--</option>
      </select>

      <!-- <label class="dd-label" for="bi-tool">BI Tool</label> -->
      <select class="demo-input" id="first-dropdown">
        <option value="selectOne">--BI Tool--</option>
        <option value="tableau">Tableau</option>
        <option value="powerbi">Power BI</option>
        <option value="qlik">Qlik</option>
        <option value="jdedwards">JD Edwards</option>
        <option value="looker">Looker</option>
        <option value="domo">Domo</option>
        <option value="aws-quicksight">AWS - QuickSight</option>
        <option value="thoughtspot">ThoughtSpot</option>
        <option value="custom-build">Custom Build</option>
        <option value="other">Other</option>
      </select>

      <input class="checkbox" type="checkbox" id="agreement" />
      <label class="cb-text" class="checkbox" for="agreement"
        >I agree to receive digital communications from insightsoftware and its
        partners (click here for full list of partners) containing news, product
        information, promotions, or event invitations. I understand that I can
        withdraw my consent at any time. Privacy Policy.</label
      >
      <button class="green-btn cta demo-btn">GET PRICING NOW</button>
      <div class="ratings">
        <img
          class="demo-rating"
          src="images/capterra.webp"
          alt="capterra-rating"
        />
        <img
          class="demo-rating"
          src="images/getapp.webp"
          alt="get-app-rating"
        />
      </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/app.js"></script>

<%- include("partials/footer") %>
